<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartSpammer.resx.SmartSpammerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <SmartSpammer.resx.SmartSpammerSettings>
            <setting name="BOUNDS" serializeAs="String">
                <value>500, 300, 420, 355</value>
            </setting>
            <setting name="DOS_IP" serializeAs="String">
                <value>192.168.1.103</value>
            </setting>
            <setting name="DOS_PORT" serializeAs="String">
                <value>9900</value>
            </setting>
            <setting name="FFS_IP" serializeAs="String">
                <value>192.168.1.103</value>
            </setting>
            <setting name="FFS_PORT" serializeAs="String">
                <value>9910</value>
            </setting>
            <setting name="THREADS" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="EXECUTIONS" serializeAs="String">
                <value>5</value>
            </setting>
        </SmartSpammer.resx.SmartSpammerSettings>
    
  </userSettings>
</configuration>