<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FunctionalityFindingService.resx.FunctionalityFindingServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FunctionalityFindingService.resx.FunctionalityFindingServiceSettings>
            <setting name="BOUNDS" serializeAs="String">
                <value>500, 200, 200, 549</value>
            </setting>
            <setting name="SEPARATOR_SERVICES_PROPERTIES" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="RULE_GENERATION_NUMBER_OF_OUTCOMES" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="RULE_GENERATION_NUMBER_OF_NEIGHBOURS_ON_EACH_SIDE"
                serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RULE_GENERATION_SHOW_RULES_DIALOG_ON_REQUEST"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RULE_GENERATION_RULE_ACTIVATION_ALGORITHM" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RULE_GENERATION_DECISION_ACTIVATION_ALGORITHM"
                serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="INFERENCE_ALGORITHM" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IMPORTANCE_A" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IMPORTANCE_B" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IMPORTANCE_C" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IMPORTANCE_FUNCTION" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RULE_GENERATION_FORCE_NEIGHBOURS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DOS_IP" serializeAs="String">
                <value>192.168.1.103</value>
            </setting>
            <setting name="DOS_PORT" serializeAs="String">
                <value>9900</value>
            </setting>
            <setting name="LISTENING_PORT" serializeAs="String">
                <value>9910</value>
            </setting>
        </FunctionalityFindingService.resx.FunctionalityFindingServiceSettings>
    </userSettings>
</configuration>